@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0a192f;
  --color-bg-base: #f8f9fa;
  --color-bg-alt: #ffffff;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --color-accent-green: #10b981;
  --color-accent-red: #ef4444;
  --color-accent-blue: #3b82f6;
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-main);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
  }
}
/* 🔥 Autofill Fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}